{% extends "base.html" %}

{% block content %}
<div class="">
<div class="page-title">
<div class="title_left">
<h3>Shopify <small>websites</small></h3>
</div>
<div class="title_right">
<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
<div class="input-group">
<input type="text" class="form-control" placeholder="Search for...">
<span class="input-group-btn">
<button class="btn btn-default" type="button">Go!</button>
</span>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
<div class="row">
<div class="col-md-12">
<div class="x_panel">
<div class="x_title">
<h2>Projects</h2>
<ul class="nav navbar-right panel_toolbox">
<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
<ul class="dropdown-menu" role="menu">
<li><a href="#">Settings 1</a>
</li>
<li><a href="#">Settings 2</a>
</li>
</ul>
</li>
<li><a class="close-link"><i class="fa fa-close"></i></a>
</li>
</ul>
<div class="clearfix"></div>
</div>
<div class="x_content">
<p>Simple table with project listing with progress and editing options</p>

<table class="table table-striped projects">
<thead>
<tr>
<th style="width: 1%">#</th>
<th>Site Name</th>
<th>Domain</th>
<th>Volume</th>
<th>{ Actions }</th>
</tr>
</thead>
<tbody>
{% for entry in listing %}
    <tr>
      <td>
        {{ entry.id }}
      </td>
      <td>
        <a href="{{ url('site_view', entry.pk) }}">
            {{ entry.name }}
            <span> ( {{ entry.curr_data|count }} )</span>
        </a>
        <br /><small>Created {{ entry.when }}</small>
{% if entry.last %}
        <br /><small>Updated {{ entry.last.when }}</small>
{% endif %}
      </td>
      <td>
        <a href="{{ entry.fqdn }}" target="_new">{{ entry.fqdn }}</a>
        <br />
        <span class="label label-{% if entry.sync %}success{% else %}danger{% endif %}"><i class="fa fa-refresh"></i></span>
        <span class="label label-{% if entry.down %}success{% else %}danger{% endif %}"><i class="fa fa-save"></i></span>
        <span class="label label-{% if entry.keep %}success{% else %}danger{% endif %}"><i class="fa fa-database"></i></span>
      </td>
      <td>
        <span>Products: {{ entry.datasets.all()|count }}</span>
        <br/>
        <span>Datasets: {{ entry.datasets.all()|count }}</span>
      </td>
<!--
      <td class="project_progress">
        <div class="progress progress_sm">
          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
        </div>
        <small>57% Complete</small>
      </td>
      <td>
        <button type="button" class="btn btn-success btn-xs">Success</button>
      </td>
//-->
      <td>
        <a href="{{ url('site_view', entry.pk) }}" href="#" class="btn btn-success btn-xs"><i class="fa fa-folder-open"></i></a>
        <a href="{{ url('site_sync', entry.pk) }}" href="#" class="btn btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
        <a href="{{ url('site_edit', entry.pk) }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
        <a href="{{ url('site_remv', entry.pk) }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
{% endfor %}
</tbody>
</table>

</div>
</div>
</div>
</div>
</div>
{% endblock content %}

