{% extends "base.html" %}

{% block content %}
<div class="">
<div class="page-title">
<div class="title_left">
<h3>{{ site.name }}   <small>{{ site.fqdn }}</small> <a href="/shops/{{ site.pk }}/refresh"><i class="fa fa-refresh"></i></a></h3>
</div>
<div class="title_right">
<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
<div class="input-group">
<input type="text" class="form-control" placeholder="Search for...">
<span class="input-group-btn">
<button class="btn btn-default" type="button">Go!</button>
</span>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
<div class="row">
<div class="col-md-12">
<div class="x_panel">
<div class="x_title">
<h2>Projects</h2>
<ul class="nav navbar-right panel_toolbox">
<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
<ul class="dropdown-menu" role="menu">
<li><a href="#">Settings 1</a>
</li>
<li><a href="#">Settings 2</a>
</li>
</ul>
</li>
<li><a class="close-link"><i class="fa fa-close"></i></a>
</li>
</ul>
<div class="clearfix"></div>
</div>
<div class="x_content">
<p>Simple table with project listing with progress and editing options</p>

<table id="tblReportResultsDemographics" class="table table-striped display" width="100%"></table>

</div>
</div>
</div>
</div>
</div>
{% endblock content %}

{% block program %}
<script type="text/javascript">
jQuery(function ($) {
  $.ajax({
    url: '/shops/{{ site.pk }}/dataset',
    success: function (payload) {
      var target = $("#tblReportResultsDemographics");

      target.DataTable ({
        "order": [[ 0, "asc" ]],
        "paging":   false,
        "ordering": false,
        "info":     false,
        "columns" : [
          //{ "data" : "id" },
          { "title": "ID", "data" : "handle" },
          //{ "title": "Vendor", "data" : "vendor" },

          { "title": "Title", "data" : "title" },
          { "title": "Category", "data" : "product_type" },
          { "title": "Summary", "data" : "body_html" },

          //{ "data" : "published_at" },
          //{ "data" : "updated_at" },
          //{ "data" : "created_at" }
        ],
        "data" :    payload,
      });
    },
    dataType: "json",
  });
});
</script>
{% endblock program %}
