                                    <li>
                                        <a><i class="fa fa-shopping-cart"></i> Retail <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="{{ url('site_list') }}">Dashboard</a></li>
                                            <li>
                                                <a>Shopify :<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
{% for site in retail.shopify %}
                                                    <li><a href="{{ url('site_view', site.pk) }}">{{ site.name }}</a></li>
{% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

